{% extends "baza.html" %}
{%from "macros.html" import show_flash%}
{%block title%}
Nowy użytkownik
{%endblock%}

{% block content %}

{{ show_flash() }}
<div class="container">
  <div class="row mb-3">
    <div class="col-5 h1">Rejestracja</div>
  </div>
  <form id="user_form" action="{{ url_for('register') }}" method="POST">
    <div class="row mb-3">
      <div class="col-1 col-form-label">
        <label for="user_name">Nazwa użytkownika</label>
      </div>
      <div class="col-4">
        <input type="text" id="user_name" name="user_name" value="{{ user.user_name }}" class="form-control"><br>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-1 col-form-label">
        <label for="user_pass">Hasło</label>
      </div>
      <div class="col-4">
        <input type="password" id="user_password" name="user_password" class="form-control"><br>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-1 col-form-label">
        <label for="user_pass">Powtórz hasło</label>
      </div>
      <div class="col-4">
        <input type="password" id="repeat_password" name="repeat_password" class="form-control"><br>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-1"></div>
      <div class="col-2">
        <input type="submit" value="Send" class="btn btn-primary">
      </div>
    </div>
  </form>
</div>
{% endblock %}